<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="stylesheets/splashscreen/splashscreen.css"/>
    <script type="text/javascript" src="ext/bootstrap.js"></script>
</head>
<body>

<div id="splashScreen">
    <img src="images/splashscreen/logo.png" />
    <div class="title"><%= title %></div>
    <div id="splashScreenLoading">Loading Application Files...</div>
    <div id="splashScreenProgress">
        <div id="splashScreenProgressInner"></div>
    </div>
</div>

<textarea id="useCode" style="display:none;">{useCode}</textarea>
    
</body>
</html>
